.input-digits {
  width: 80px;
}

.table {
  width: 100%;
  text-align: center;
  th {
    vertical-align: middle;
    height: 40px;
    min-width: 80px;
    background-color: rgba(80, 80, 80, 1);
    color: white;
    font-size: 12px;
  }
  tr {
    &:nth-child(2n) {
      background-color: rgba(230, 230, 230, 0.6);
    }
    &:nth-child(2n + 1) {
      background-color: rgba(230, 230, 230, 0.2);
    }
  }
  td {
    vertical-align: middle;
    height: 32px;
  }
  tfoot > * {
    margin-bottom: 16px;
  }
  strong {
    font-weight: bold;
  }
}
